<!DOCTYPE html>

<title>Ligne</title>

{% block body %}
    <h1>Ligne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ligne.Nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ligne_index') }}">back to list</a>

    <a href="{{ path('ligne_edit', {'id': ligne.id}) }}">edit</a>

    {{ include('ligne/_delete_form.html.twig') }}
{% endblock %}
