<!DOCTYPE html>

<title>Guest</title>

{% block body %}
    <h1>Guest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guest.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ guest.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ guest.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ guest.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('guest_index') }}">back to list</a>

    <a href="{{ path('guest_edit', {'id': guest.id}) }}">edit</a>

    {{ include('guest/_delete_form.html.twig') }}
{% endblock %}
