
{% extends 'back/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
{% endblock %}

{% block body %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MagicBook</title>
    <!-- plugins:css -->

    <link rel="stylesheet" href="{{asset('assets4/vendors/css/vendor.bundle.base.css')}}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>150</h3>

                        <p>New Orders</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>53<sup style="font-size: 20px">%</sup></h3>

                        <p>Bounce Rate</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>44</h3>

                        <p>User Registrations</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->

            <!-- ./col -->
        </div>

    {{ form_start(form) }}










     <div class="card-body">
         <div class="form-group">
             <label for="exampleInputEmail1">Titre</label>

             {{ form_widget(form.titre,{ 'attr' : {'class' : 'form-control'}}) }}

         </div>
         <div class="form-group">
             <label for="exampleInputPassword1">Description</label>
             {{ form_widget(form.Description,{ 'attr' : {'class' : 'form-control'}}) }}

         </div>
         <div class="form-group">
             <label for="exampleInputPassword1">Contenu</label>
             {{ form_widget(form.Contenu,{ 'attr' : {'class' : 'form-control'}}) }}
         </div>

         <div class="form-group">
             <label for="exampleInputPassword1">Date</label>
             {{ form_widget(form.Date,{ 'attr' : {'class' : 'form-control'}}) }}
         </div>
    <div class="form-group">
        <label>Photo link</label>
        <input type="file" name="img[]" class="file-upload-default">
        <div class="input-group col-xs-3">

            {{ form_widget(form.photo,{ 'attr' : {'class' : 'form-control file-upload-info'}}) }}

        </div>

    </div>
         <div class="form-group">
             <label>Document Link</label>
             <input type="file" name="doc[]" class="file-upload-default">
             <div class="input-group col-xs-3">

                 {{ form_widget(form.document,{ 'attr' : {'class' : 'form-control file-upload-info'}})|nl2br  }}

             </div>

         </div>
         <div class="form-group">
             <label for="exampleInputPassword1">Type</label>
             {{ form_widget(form.type,{ 'attr' : {'class' : 'form-control'}}) }}
         </div>
     </div>
     <!-- /.card-body -->

     <div class="card-footer">

         <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
     </div>


<style>
    .oo
    {
        visibility: hidden;
    }
</style>







{{ form_end(form) }}
    <div class="card-footer clearfix">
        <a href="{{ path('news_new') }}" type="submit" class="btn btn-primary float-right"><i class="fas fa-plus"></i>Add News</a>
    </div>

    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->


    <!-- Map card -->


    <!-- right col -->
    -->


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ChartJS</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
    </head>
    <body>
    <canvas id="produit" width="550" height="200"></canvas>
    <canvas id="produits" width="600" height="200"></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{asset('assets4/vendors/js/vendor.bundle.base.js')}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{asset('assets4/vendors/chart.js/Chart.min.js')}}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{asset('assets4/js/off-canvas.js')}}"></script>
    <script src="{{asset('assets4/js/hoverable-collapse.js')}}"></script>
    <script src="{{asset('assets4/js/misc.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{asset('assets4/js/dashboard.js')}}"></script>
    <script src="{{asset('assets4/js/todolist.js')}}"></script>
    <script src="{{asset('assets4/js/file-upload.js')}}"></script>

{% endblock %}