<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <div class="logo">
                        <img src="{{ asset('assets/img/logo.png') }}" alt="logo">
                    </div>
                    <p>Compagnie tunisienne de navigation maritime assurant des liaisons régulières entre la Tunisie et les ports de Marseille et Gênes (passagers et marchandises) ainsi que Barcelone et Livourne (marchandises).</p>
                    <ul class="footer-socials">
                        <li>
                            <a href="https://www.facebook.com/ctn.com.tn" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/ctnferries?lang=fr" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-80">
                    <h3>Company</h3>
                    <ul class="footer-text">
                        <li>
                            <a href="about.html">About Us</a>
                        </li>
                        <li>
                            <a href="services.html">Services</a>
                        </li>
                        <li>
                            <a href="#">Features</a>
                        </li>
                        <li>
                            <a href="#">Cost calculator</a>
                        </li>
                        <li>
                            <a href="#">Latest News</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-50">
                    <h3>Support</h3>
                    <ul class="footer-text">
                        <li>
                            <a href="faq.html">FAQ’s</a>
                        </li>
                        <li>
                            <a href="privacy-policy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="terms-condition.html">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#">Community</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h3>Contact Info</h3>
                    <ul class="info-list">
                        <li>
                            <i class='bx bxs-location-plus'></i>
                            05, Avenue Dag HAMMARSKJOELD  1001 Tunis – TUNISIA
                        </li>
                        <!-- <li>
                             <i class='bx bxs-envelope'></i>
                             <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#58303d343437183e3d2a2a21763b3735"><span class="__cf_email__" data-cfemail="2149444d4d4e6147445353580f424e4c">[email&#160;protected]</span></a>
                         </li>
                         <li>
                             <i class='bx bxs-envelope'></i>
                             <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#86e5e9e8f2e7e5f2c6e0e3f4f4ffa8e5e9eb"><span class="__cf_email__" data-cfemail="2d4e4243594c4e596d4b485f5f54034e4240">[email&#160;protected]</span></a>
                         </li>-->
                        <li>
                            <i class='bx bxs-envelope'></i>
                            <a href="mailto:cotunav@ctn.com.tn">cotunav@ctn.com.tn</a>
                        </li>
                        <li>
                            <i class='bx bxs-phone'></i>
                            <a href="tel:+216-71-322-802">+ 216 71 322 802</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="footer-bottom">
    <div class="container">
        <p>Copyright @2021 CTN <a href="https://hibootstrap.com/" target="_blank"></a></p>
    </div>
</div>


<div class="go-top">
    <i class='bx bx-chevrons-up'></i>
</div>

</body>





<script data-cfasync="false" src="{{ asset('assets/js/email-decode.min.js') }}"></script><script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('assets/js/meanmenu.min.js') }}"></script>

<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>

<script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>

<script src="{{ asset('assets/js/odometer.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.appear.js') }}"></script>

<script src="{{ asset('assets/js/form-validator.min.js') }}"></script>

<script src="{{ asset('assets/js/contact-form-script.js') }}"></script>

<script src="{{ asset('assets/js/jquery.ajaxchimp.min.js') }}"></script>

<script src="{{ asset('assets/js/wow.min.js') }}"></script>

<script src="{{ asset('assets/js/custom.js') }}"></script>

{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
{% endblock %}

</html>
