

{% extends 'back/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
{% endblock %}


{% block body %}
    <h1 style="color: red">Message de Mr/Mme {{ bureaucitoyen.nom }} {{ bureaucitoyen.prenom }}</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ bureaucitoyen.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ bureaucitoyen.prenom }}</td>
            </tr>
            <tr>
                <th>Nationalité</th>
                <td>{{ bureaucitoyen.nationalite }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ bureaucitoyen.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ bureaucitoyen.adresse }}</td>
            </tr>
            <tr>
                <th>Code Postale</th>
                <td>{{ bureaucitoyen.codepostale }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ bureaucitoyen.ville }}</td>
            </tr>
            <tr>
                <th>Télèphone</th>
                <td>{{ bureaucitoyen.telephone }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ bureaucitoyen.message }}</td>
            </tr>

            <tr>
                <th>Etat</th>
                <td>{{ bureaucitoyen.etat ? 'Traité' : 'Non traité' }}</td>








            </tr>
        </tbody>
    </table>






    <a class="btn btn-block bg-gradient-secondary" href="{{ path('bureaucitoyen_index') }}">
       Retourner à la liste des messages
    </a>




    {{ include('bureaucitoyen/_delete_form.html.twig') }}




{% endblock %}
