{% extends 'back/base.html.twig' %}

{% block title %}

    Services

{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ service.nom }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ service.lien }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('service_index') }}">back to list</a>

    <a href="{{ path('service_edit', {'id': service.id}) }}">edit</a>

    {{ include('back/service/_delete_form.html.twig') }}
{% endblock %}
