<!DOCTYPE html>

<title>InfoPratique</title>

{% block body %}
    <h1>InfoPratique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ info_pratique.id }}</td>
            </tr>
            <tr>
                <th>Recommandations</th>
                <td>{{ info_pratique.recommandations }}</td>
            </tr>
            <tr>
                <th>Recoepargne</th>
                <td>{{ info_pratique.recoepargne }}</td>
            </tr>
            <tr>
                <th>Reconecessaire</th>
                <td>{{ info_pratique.reconecessaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('info_pratique_index') }}">back to list</a>

    <a href="{{ path('info_pratique_edit', {'id': info_pratique.id}) }}">edit</a>

    {{ include('info_pratique/_delete_form.html.twig') }}
{% endblock %}
